html
	head
		title Profile
		include ../static/pug/head-tags.pug
	body
		include ../static/pug/header.pug
		#background-profile
			div
				h1#name HaJARRRR Mokhtafa
			#profile-container
				#profile-posts
					each post in messages
						if post.user.username == user
							.post
								h1 #{post.title}
								h6 by #{post.user.username}
								p #{post.content}
							.commentbox
								each comment in comments
									if comment.messageId == post.id
										.comment
											h6 #{comment.user.username}
											p #{comment.content}
				#profile-followers
					#side
						h3 Followers:
						ul
							li Lisa
							li Jessy
							li Melvin
							li Gijs
						input#btn2(type="submit" value="follow me" name="follow")
						h3 I follow:
						ul
							li Jessy
							li Gijs
							li Lisa
							li Melvin
							li Bill
		include ../static/pug/footer.pug